anthropic==1.2.0
datasets==5.0.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
ftfy==6.3.1
google-genai==2.21.0
huggingface_hub==1.28.0
openai==3.6.0
pandas==3.0.5
python-dotenv==1.2.3
PyYAML==6.0.3
scikit-learn==1.9.0
spacy==3.8.16
